@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sol-base03 text-sol-base0 min-h-screen;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
  }
  :root {
    --radius: 0.5rem;
  }
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}
